<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
   <link href="/styles.css" rel="stylesheet" type="text/css">
   <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

   <title>MoneyDash</title>
</head>
<body>
   <header>
   <div id="left-align">
     <a href="/transactions"><h1>moneydash</h1></a>
   </div>
   <div id="right-align">
      <nav>
        <ul>
         <li><a href="/transactions">HOME</a></li>
         <li><a href="/transactions/new">NEW TRANSACTION</a></li>
         <li><a href="/transactions/new">CONTACT US</a></li>
        </ul>
      </nav>
   </div>
   </header>
   <div id="content">
      <a href="/transactions/new"><div id="create-button">
         NEW TRANSACTION
      </div></a>
     <%= yield %>
   </div>
</body>
</html>
