* {
  font-family: 'Open Sans', sans-serif;
}

body {
   background: linear-gradient(90deg, #6027c4 0%,#2eb7f7 100%,#7db9e8 100%,#2eb7f7 101%);
   min-height: 100%;
}

nav {
   font-size: 10px;
}

ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

a {
   color: #27aa9e;
   text-decoration: none;
}

h1 {
   color: #FFF;
   font-size: 20px;
}

li {
  display: inline-block; margin-right: 10px;
}

#content {
   padding: 10px 90px 10px 90px;
}

#create-button {
   background: #3ecf8e;
   height: 40px;
   width: 160px;
   color: #FFF;
   border-radius: 4px;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 10px;
}
#create-button:hover {
   transform: translateY(2px);
}
#transaction {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.tblock {
   width: 200px;
}

header {
   padding-left: 90px;
   padding-right: 90px;
   display: flex;
   justify-content: space-between;
}
#right-align a {
   color: #FFF;
}

#overview {
   display: flex;
   justify-content: space-between;
}

#categoryblock {
   background: #3ecf8e;
   height: 40px;
   width: 160px;
   color: #FFF;
   border-radius: 4px;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 10px;
}
#categories {
   display: flex;
   justify-content: space-between;
   align-items: center;
}


#displayblock {
   background: #FFF;
   opacity: 0.9;
   padding: 10px 20px 10px 40px;
   margin: 20px 10px 10px 10px;
   border-radius: 4px;
   text-transform: uppercase;
   color: #b1b1b1;
   font-size: 14px;
   font-weight: bold;
}

#displayblock:hover {
   transform: translateY(2px);
}

#inputform {
   background: #FFF;
   opacity: 0.9;
   padding: 20px 20px 20px 40px;
   margin: 20px 10px 10px 10px;
   border-radius: 4px;
}

#total {
   background: #3ecf8e;
   height: 40px;
   width: 160px;
   color: #FFF;
   border-radius: 4px;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;:
}
