* {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}

ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

a {
   color: #27aa9e;
}

li {
  display: inline-block; margin-right: 10px;
}
